<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>えもじぇん</title>
    <link rel="shortcut icon" href="https://{{ .Domain }}/{{ .Moji }}/e.ico?{{ .Query }}" type="image/x-icon">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="えもじぇん" />
    <meta property="og:description" content="絵文字生成" />
    <meta property="og:url" content="https://{{ .Domain }}/{{ .Moji }}?{{ .Query }}" />
    <meta property="og:site_name" content="えもじぇん" />
    <meta property="og:image" content="https://{{ .Domain }}/{{ .Moji }}/e.png?{{ .Query }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cyanolupus" />
    <meta name=“twitter:image” content=“https://{{ .Domain }}/{{ .Moji }}/e.png?{{ .Query }}“ />
</head>

<body>
<h1>えもじぇん</h1>
<p>絵文字生成</p>

<p>{{ .Moji_decoded }}</p>

<p><a href="https://{{ .Domain }}/{{ .Moji }}/e.png?{{ .Query }}"><img src="https://{{ .Domain }}/{{ .Moji }}/e.png?{{ .Query }}" alt="{{ .Moji_decoded }}" /></a></p>

<h2>色の付け方</h2>
<p>色はRGBAによって指定し，文字色と背景色それぞれで r,g,b,a の値をそれぞれ 16 進数 (0~f) で表します．優先順で以下のように指定</p>
<ul>
<li>サブドメイン指定 (例: <a href="https://ff0f0000.urem.uk/てすと">https://ff0f0000.urem.uk/てすと</a>)</li>
<li>パラメータ指定 (例: <a href="https://urem.uk/てすと?fg=ff0f&bg=0000">https://urem.uk/てすと?fg=ff0f&bg=0000</a>)</li>
</ul>

<h2>改行</h2>
<p>改行は "%0A" または "%0a" を用います．</p>

<h2>対応フォーマット</h2>
<p>以下のフォーマットに対応しています．</p>
<ul>
<li>png (例: <a href="https://ff0f0000.urem.uk/てすと/png">https://ff0f0000.urem.uk/てすと/png</a>)</li>
<li>ico (例: <a href="https://ff0f0000.urem.uk/てすと/ico">https://ff0f0000.urem.uk/てすと/ico</a>)</li>
<li>jpg (例: <a href="https://ff0f0000.urem.uk/てすと/jpg">https://ff0f0000.urem.uk/てすと/jpg</a>)</li>
<li>gif (例: <a href="https://ff0f0000.urem.uk/てすと/gif">https://ff0f0000.urem.uk/てすと/gif</a>)</li>
</ul>

<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_copy_link"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_mastodon"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

<!-- Cloudflare Workers -->

</body>
</html>
